<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>371047090151-sueo00dv98hi8d66tlgho0nipjrntsb1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.371047090151-sueo00dv98hi8d66tlgho0nipjrntsb1</string>
	<key>API_KEY</key>
	<string>AIzaSyDfdSH37CLxhMygcMXUveihrUuR3zOmyCc</string>
	<key>GCM_SENDER_ID</key>
	<string>371047090151</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>shop.mtcoding.finalProject</string>
	<key>PROJECT_ID</key>
	<string>riverpod-firestore-strea-6926b</string>
	<key>STORAGE_BUCKET</key>
	<string>riverpod-firestore-strea-6926b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:371047090151:ios:a657133465c4a4ae119f42</string>
</dict>
</plist>